@{
  Layout = "_Layout";
}
<div class="container">

<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 enter">
    <h2>Enter a word and a passage</h2>
    <form action="/results" method="post">
      <div class="form-group">
      <label for="word">Choose a word: </label>
      <input type="text" name="word">
      <label for="phrase">Choose a phrase</label>
      <input type="text" name="phrase">
      <br>
    <button type="submit" class="btn-primary">Submit</button>
      </div>
  </div>
  <div class="col-md-4"></div>
</div>

</form>

</div>
